.app {
height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        
        //Hide scroll bar
        scrollbar-width: none; //Firefox
        &::-webkit-scrollbar {
            display: none; //Other Browsers
        }
        //End

        >* {
            width: 100%;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}